
.flutter-plugins
.flutter-plugins-dependencies
*.json
.DS_Store
.packages
*.lock
ios/Flutter/.last_build_id
ios/Flutter/.last_build_id
/.idea/
/build/
/.build/
build
/.dart_tool/
.dar_tool
*.last_build_id
ios/Flutter/.last_build_id
